extends layout

block content
    h1 Введите логин и пароль 
    if error
        p.
            #{error}
    form(action="/login",method="POST")
        input(type="hidden",name="_csrf",value=csrfToken)
        input(type="hidden",name="challenge",value=challenge)
        table(style="")
            tr
                td
                    input(type="email",id="email",name="email",placeholder="email@foobar.com")
                td.
                    ("foo@bar.com")
            tr
                td
                    input(type="password",id="password",name="password")
                td.
                    ("foobar")
        input(type="checkbox",id="remember",name="remember",value="1")
        label(for="remember") Запомнить
        br
        input(type="submit",id="accept",name="submit",value="Войти")
        input(type="submit",id="reject",name="submit",value="Deny access")
